.faq-sizer,
.faq-item {
    width: 45%;
    /*width: 100%;*/

/*@media (min-width: $md) {*/
    /*width: 45%;*/
/*}*/
}

.faq-gutter-sizer {
    width: 5%;
    /*width: 0;*/
}
/*@media (min-width: $md) {*/
    /*width: 5%;*/
/*}*/
/*}*/

.faq-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

/*@media (min-width: $md) {*/
    /*margin-bottom: 60px;*/
/*}*/
}
