header {
    background: white;
    margin-bottom: 1rem;
}

.header-container {
    padding: 1.45rem 1.0875rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container > .logo {
	width: 100px;
}

.header-icon {
  font-size: 2rem;
  margin: 0 5px;
  color: #2f8dff;
}

.navbar {
  background: #2f8dff;
  font-size: 1.25rem;
  padding: 5px;
  z-index: 999;
}

.navbar a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .navbar {
    border-radius: 5px;
  }
}