header {
    background: white;
    margin-bottom: 1rem;
}

.header-container {
    padding: 1.45rem 1.0875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container > .logo {
	width: 100px;
}

.header-icon {
  font-size: 2rem;
  margin: 0 5px;
  color: #2f8dff;
}

.navbar {
  background: #2f8dff;
  font-size: 1.25rem;
  padding: 5px;
  z-index: 999;
}

.navbar a {
  color: white;
  transition: transform 0.25s;
}

.navbar a:hover {
  transform: rotateZ(-15deg);
  color: white;
  text-decoration: none;    
}

@media only screen and (min-width: 768px) {
  .navbar {
    border-radius: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-decoration: underline;
    align-items: flex-start !important;
  }
}